<div class="hero-unit">
<h1>Welcome to the Jungle</h1>
<p>I like turtles
	<%=link_to "One Month Rails","http://onemonthrails.com" %>


</p>
<p>
	<%=link_to "Sign Up Now", new_user_registration_path, class: "btn btn-inverse btn-large" %>
</p>
</div>